---
title: Post 1 torsdag
date: "2023-01-12"
---

<script>
 let a = 0;
</script>

**Jag har ändrat cookien till en knapp **

**Jag har också ändrat av points per click till turkos**
```css
.pointtext {
    color: rgb(0, 200, 200);
```

<h1>{a}</h1>

<button on:click={()=>{a = a + 1}}>CLICK ME</button>
