---
title: Post 3 tisdag
date: "2023-01-17"
---

<script>
 let a = 0;
</script>



**Jag fixade clicker så att det blev en gif**

jag ändrade också färger och har mer planer för nästa gång som jag kommer att dela med i nästa post så **stay tuned**
    

